.company-section {
  padding: 5rem 2rem;
  height: 75vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-wrapper {
  border: 1px solid blue;
  height: 100%;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.company-container {
  border: 1px solid red;
  height: 100%;
  width: 33%;
}

@media (max-width: 992px) {
  .company-section {
    min-height: 200vh;
  }

  .container-wrapper {
    flex-direction: column;
  }

  .company-container {
    width: 50%;
    height: 75vh;
  }
}

@media (max-width: 700px) {
  .company-section {
    min-height: 200vh;
  }

  .container-wrapper {
    height: 190vh;
  }

  .company-container {
    width: 100%;
    height: 80vh;
  }
}
