.company-section {
  min-height: 100vh;
  display: flex;
  padding: 1rem;
}

.container-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 3rem;
}

@media screen and (max-width: 1020px) {
  .container-wrapper {
    flex-direction: column;
    padding: 1rem;
  }
}
