.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 90;
  background-color: transparent;
  padding: 1.5rem 2rem;
  overflow-x: hidden;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: start;
  background-color: #2e362c;
}

.nav-button {
  cursor: pointer;
  font-size: 1rem;
  font-weight: 200;
  border-top: 1px solid #ffffff;
  width: 70px;
  text-align: right;
}

.close-button {
  cursor: pointer;
  font-size: 1rem;
  font-weight: 200;
  border-top: 1px solid #ffffff;
  width: 70px;
}

.nav-logo {
  font-weight: 400;
  font-size: 0.8rem;
  color: #ffffff;
}

.link-item {
  font-size: 2rem;
  font-weight: 200;
  text-decoration: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: -100%;
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
  width: 100%;
  z-index: 99;
  opacity: 0;
}

.nav-mobile-menu {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100vh;
  width: 50%;
  background-color: #2e362c;
  color: #ffffff;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding: 2rem;
}

.nav-link-container {
  overflow: hidden;
}

.link {
  transform: translateY(100px);
  margin-top: 1.2rem;
  color: #fff;
}

.nav-large-menu {
  display: flex;
  gap: 2rem;
  width: 500px;
}

.nav-large-container {
  flex: 1;
  border-top: 1px solid #ffffff;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.nav-large-link {
  font-weight: 200;
  font-size: 1rem;
  text-decoration: none;
}

@media (max-width: 992px) {
  .nav-large-menu {
    display: none;
  }

  .link-item {
    font-size: 1.5rem;
  }
}
